* {
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

body {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(173, 255, 47, 0.6);
}

.rainbow {
  background-image: url("../immagini/rainbow.png");
}

.display-bomb {
  background-image: url("../immagini/bomb.png");
}

#gioco {
  margin: 30px auto;
  max-width: 440px;
  position: relative;
}

#gioco .bloccaGioco {
  /*questa classe la aggiungo allo span che copre il tavolo da gioco*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#gioco ul {
  overflow: auto;
  padding: 0;
  list-style: none;
  margin: 0;
}

#gioco li {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: solid 1px #aaa;
  float: left;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-color: #eee;
  transition: 0.2s;
}

#gioco li:hover {
  background-color: #fff;
  border-radius: 25%;
}

#fine {
  display: none;
}

#fine.visualizza {
  display: block;
}

#fine h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

#fine p {
  font-size: 1.2em;
  margin: 5px;
}

#fine p span {
  color: #fb6975;
}

#fine button {
  font-size: 0.85em;
  background-color: #fb6975;
  color: #fff;
  border: solid 2px #666;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 3px;
}

#fine button:hover {
  background-color: #ff4454;
  border-color: #333;
}

.vittoria {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.75);
  display: none;
  position: fixed;
  z-index: 10;
}

.vittoria.visualizza {
  display: block;
}

.vittoria h2 {
  margin-top: 350px;
}

.vittoria button {
  font-size: 0.85em;
  background-color: #fb6975;
  color: #fff;
  border: solid 2px #666;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 3px;
}

.vittoria button:hover {
  background-color: #ff4454;
  border-color: #333;
}
